In [1]:
import QUANTAXIS as QA
import pandas as pd
import tushare as ts
import numpy as np
# import TA-Lib as ta
import scipy.signal as signal
import matplotlib.pyplot as plt

In [2]:
import tushare as ts
token = "488917d460bca13177c0b510492fc5fc04d0629bc76cc32a4f73fcf0"
ts.set_token(token)
pro = ts.pro_api()

In [3]:
#超大板块
# 电气设备    装备制造 查看相关性高的板块
# 酿酒      46434.23
# 化工      44198.02
# 医药      40178.99
# 汽车类     34589.40
# 元器件     33136.58
supper_big_industry_code = ['880446','880380','880335','880400','880390','880492']

# 细分行业分析

In [6]:
detail_industry = pd.read_csv('申万细分行业.csv')
detail_industry

         代码    名称
0    880313  石油贸易
1    880363    林业
2    880431    船舶
3    880490  通信设备
4    880444  农用机械
..      ...   ...
105  880302  煤炭开采
106  880373   乳制品
107  880351  矿物制品
108  880382    啤酒
109  880425  旅游服务

[110 rows x 2 columns]

In [7]:
detail_industry_code = detail_industry['代码'].astype(str).to_list()

In [ ]:
detail_industry_data = QA.QA_fetch_index_day_adv(child_industry_code,'2022-01-01','2022-09-02')

## 申万子行业

In [22]:
child_industry = pd.read_csv('申万子行业.csv')
child_industry.sort_values('代码')

        代码    名称
54  880301    煤炭
15  880305    电力
17  880310    石油
44  880318    钢铁
43  880324    有色
22  880330    化纤
27  880335    化工
48  880344    建材
31  880350    造纸
55  880351  矿物制品
53  880355  日用化工
24  880360  农林牧渔
16  880367  纺织服饰
49  880372  食品饮料
52  880380    酿酒
47  880387  家用电器
25  880390   汽车类
39  880398  医疗保健
36  880399  家居用品
42  880400    医药
32  880406  商业连锁
6   880414  商贸代理
4   880418  传媒娱乐
9   880421  广告包装
13  880422  文教休闲
28  880423  酒店餐饮
21  880424    旅游
23  880430    航空
0   880431    船舶
29  880432  运输设备
10  880437  通用机械
19  880440  工业机械
46  880446  电气设备
50  880447  工程机械
18  880448  电器仪表
5   880452  电信运营
7   880453  公共交通
34  880454    水务
37  880455  供气供热
26  880456  环境保护
30  880459  运输服务
35  880464  仓储物流
33  880465  交通设施
40  880471    银行
41  880472    证券
51  880473    保险
14  880474  多元金融
38  880476    建筑
45  880482   房地产
11  880489  IT设备
1   880490  通信设备
8   880491   半导体
3   880492   元器件
12  880493  软件服务
2   880494   互联网
20  880497   综合类

In [13]:
child_industry_code = child_industry['代码'].astype(str).to_list()
child_industry_code[:5]

['880431', '880490', '880494', '880492', '880418']

In [14]:
child_industry_data = QA.QA_fetch_index_day_adv(child_industry_code,'2022-01-01','2022-09-02')

In [37]:
child_industry_data.data.head()

                      open    close     high      low       vol        amount  \
date       code
2022-01-04 880301   931.47   920.47   943.68   914.04  210057.0  1.968611e+10
           880305  1938.98  1901.07  1947.99  1897.17  525302.0  3.565899e+10
           880310   693.05   696.31   697.96   690.91  156730.0  7.833487e+09
           880318  1105.75  1114.31  1118.64  1105.75  263546.0  1.546208e+10
           880324  1048.57  1026.31  1049.79  1018.67  375823.0  6.011190e+10

                   up_count  down_count    date_stamp    volume
date       code
2022-01-04 880301        30           4  1.641226e+09  210057.0
           880305        28          42  1.641226e+09  525302.0
           880310        28           7  1.641226e+09  156730.0
           880318        46           8  1.641226e+09  263546.0
           880324        72          43  1.641226e+09  375823.0

In [51]:
# 
child_industry_pivot = child_industry_data.pivot('close')
child_industry_pivot.head()

code,880301,880305,880310,880318,880324,880330,880335,880344,880350,880351,...,880474,880476,880482,880489,880490,880491,880492,880493,880494,880497
date,,,,,,,,,,,,,,,,,,,,,
2022-01-04,920.47,1901.07,696.31,1114.31,1026.31,2784.80,2284.52,1789.53,1522.10,2289.38,...,1190.73,1337.87,1350.15,1664.03,1703.57,3399.73,3041.77,2789.40,2457.76,1114.81
2022-01-05,907.28,1846.79,699.07,1095.91,1001.69,2790.02,2234.56,1768.21,1499.92,2212.49,...,1183.91,1320.62,1354.78,1655.08,1674.04,3257.17,2933.95,2761.13,2483.45,1099.13
2022-01-06,907.51,1829.69,700.46,1123.51,1012.70,2858.15,2252.79,1800.38,1521.16,2210.11,...,1185.69,1365.43,1349.27,1653.45,1671.06,3241.99,2915.05,2725.85,2451.54,1111.73
2022-01-07,910.09,1803.95,726.81,1140.37,992.23,2828.08,2209.04,1822.83,1505.44,2155.91,...,1194.68,1380.33,1383.00,1618.84,1650.08,3192.75,2884.19,2672.64,2391.68,1102.10
2022-01-10,927.64,1795.26,727.75,1136.22,1000.28,2848.66,2221.10,1823.01,1514.43,2138.94,...,1198.05,1393.29,1400.01,1667.57,1663.25,3171.70,2899.51,2711.83,2396.91,1108.53

In [61]:
child_industry_corr = child_industry_pivot.pct_change().corr()

In [121]:
child_industry_corr.head()

code,880301,880305,880310,880318,880324,880330,880335,880344,880350,880351,...,880474,880476,880482,880489,880490,880491,880492,880493,880494,880497
code,,,,,,,,,,,,,,,,,,,,,
880301,1.000000,0.457005,0.672686,0.508798,0.479966,0.331723,0.384374,0.371876,0.281436,0.177597,...,0.379791,0.442363,0.418174,0.244306,0.169642,0.016649,0.148080,0.203849,0.231597,0.318186
880305,0.457005,1.000000,0.466193,0.705074,0.555050,0.473926,0.579693,0.677795,0.601600,0.447779,...,0.678953,0.659184,0.532161,0.500336,0.521441,0.338104,0.477805,0.506320,0.530488,0.597552
880310,0.672686,0.466193,1.000000,0.584882,0.502954,0.365056,0.412669,0.428355,0.397470,0.183294,...,0.515422,0.539637,0.465776,0.233717,0.225614,0.060220,0.196128,0.247566,0.299057,0.324592
880318,0.508798,0.705074,0.584882,1.000000,0.727472,0.620702,0.707699,0.823887,0.720836,0.553422,...,0.744609,0.763308,0.651465,0.606746,0.611808,0.404659,0.548855,0.622044,0.654952,0.683499
880324,0.479966,0.555050,0.502954,0.727472,1.000000,0.635683,0.889058,0.620745,0.671856,0.755497,...,0.583304,0.450880,0.359680,0.636690,0.683371,0.570895,0.702771,0.657808,0.598720,0.627190

In [103]:
child_industry.loc[:,('stock_code')] = child_industry['代码'].astype(str)
child_industry_code_name = child_industry.drop('代码',axis=1).set_index('stock_code')

In [105]:
# 电气设备
one_blk_corr = child_industry_corr[supper_big_industry_code[0]]
one_blk_related_blk = one_blk_corr[one_blk_corr>0.7].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

          880446    名称
code
880446  1.000000  电气设备
880440  0.876329  工业机械
880351  0.843018  矿物制品
880492  0.814913   元器件
880437  0.809383  通用机械
880335  0.801402    化工
880390  0.787617   汽车类
880490  0.748017  通信设备
880448  0.735565  电器仪表
880324  0.718143    有色

In [120]:
# 酿酒
one_blk_corr = child_industry_corr[supper_big_industry_code[1]]
one_blk_related_blk = one_blk_corr[one_blk_corr>0.6].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

          880380    名称
code
880380  1.000000    酿酒
880372  0.699610  食品饮料
880387  0.650577  家用电器
880355  0.618630  日用化工

In [112]:
# 化工
one_blk_corr = child_industry_corr[supper_big_industry_code[2]]
one_blk_related_blk = one_blk_corr[one_blk_corr>0.7].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

          880335    名称
code
880335  1.000000    化工
880324  0.889058    有色
880440  0.864302  工业机械
880351  0.817956  矿物制品
880456  0.805736  环境保护
880437  0.803928  通用机械
880446  0.801402  电气设备
880492  0.789784   元器件
880414  0.783309  商贸代理
880490  0.770669  通信设备
880432  0.765373  运输设备
880390  0.764853   汽车类
880330  0.739395    化纤
880421  0.732212  广告包装
880493  0.722832  软件服务
880455  0.722066  供气供热
880448  0.720811  电器仪表
880350  0.713248    造纸
880430  0.712138    航空
880489  0.709479  IT设备
880318  0.707699    钢铁
880497  0.705608   综合类

In [115]:
# 医药
one_blk_corr = child_industry_corr[supper_big_industry_code[3]]
one_blk_related_blk = one_blk_corr[one_blk_corr>0.65].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

          880400    名称
code
880400  1.000000    医药
880398  0.888376  医疗保健
880406  0.765079  商业连锁
880372  0.691861  食品饮料
880350  0.680243    造纸
880490  0.673468  通信设备
880335  0.672085    化工
880355  0.668702  日用化工
880494  0.667502   互联网
880414  0.662544  商贸代理
880421  0.662289  广告包装
880497  0.660295   综合类
880493  0.657401  软件服务

In [116]:
# 汽车类
one_blk_corr = child_industry_corr[supper_big_industry_code[4]]
one_blk_related_blk = one_blk_corr[one_blk_corr>0.65].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

          880390    名称
code
880390  1.000000   汽车类
880440  0.837093  工业机械
880492  0.792099   元器件
880446  0.787617  电气设备
880437  0.785773  通用机械
880335  0.764853    化工
880351  0.762659  矿物制品
880490  0.753577  通信设备
880432  0.706670  运输设备
880324  0.701444    有色
880493  0.693971  软件服务
880456  0.689655  环境保护
880448  0.673314  电器仪表
880489  0.657419  IT设备

In [119]:
# 元器件
one_blk_corr = child_industry_corr[supper_big_industry_code[5]]
one_blk_related_blk = one_blk_corr[one_blk_corr>0.75].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

          880492    名称
code
880492  1.000000   元器件
880490  0.917792  通信设备
880440  0.889661  工业机械
880491  0.861494   半导体
880448  0.847548  电器仪表
880493  0.820136  软件服务
880437  0.816570  通用机械
880446  0.814913  电气设备
880489  0.796969  IT设备
880390  0.792099   汽车类
880335  0.789784    化工
880432  0.776611  运输设备
880421  0.757707  广告包装
880351  0.751659  矿物制品

In [122]:
# 半导体
one_blk_corr = child_industry_corr['880491']
one_blk_related_blk = one_blk_corr[one_blk_corr>0.75].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

          880491    名称
code
880491  1.000000   半导体
880492  0.861494   元器件
880490  0.800875  通信设备

In [123]:
# 热门板块关联分析
one_blk_corr = child_industry_corr['880302']
one_blk_related_blk = one_blk_corr[one_blk_corr>0.75].sort_values(ascending= False)
one_blk_related_blk.to_frame().join(child_industry_code_name)

KeyError: '880302'